<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Obține Buget</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
   <header>
        <h1>Obtine buget</h1>
        <div class="reg-login">
            <a href="{{ url_for('register') }}">Înregistrare</a>
            <a href="{{ url_for('login') }}">Autentificare</a>
        </div>
    </header>
    <nav>
        <a href="{{ url_for('get_budget') }}">Obține Buget</a>
        <a href="{{ url_for('add_budget') }}">Adaugă Buget</a>
        <a href="{{ url_for('add_expense') }}">Adaugă Cheltuială</a>
        <a href="{{ url_for('list_expenses') }}">Listează Cheltuieli</a>
        <a href="{{ url_for('update_expense') }}">Actualizează Cheltuială</a>
        <a href="{{ url_for('delete_expense') }}">Șterge Cheltuială</a>
    </nav>
    <main>
        <form method="post" action="{{ url_for('get_budget') }}">
            <button type="submit">Obține Bugetul Meu</button>
        </form>
        <a href="{{ url_for('index') }}">Înapoi</a>
    </main>
    <footer>
        <hr/>
        <p>&copy; 2025</p>
    </footer>
</body>
</html>
