<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Înregistrare</title>
</head>
<body>
    <h1>Înregistrare Cont</h1>
    <form method="post" action="{{ url_for('register') }}">
        <label>Username:</label>
        <input type="text" name="username" required/><br/>
        <label>Parola:</label>
        <input type="password" name="password" required/><br/>
        <label>Buget:</label>
        <input type="number" name="budget" required/><br/>
        <button type="submit">Înregistrează-te</button>
    </form>
    <a href="{{ url_for('index') }}">Înapoi</a>
</body>
</html>
